<!DOCTYPE html>
<html>
<head>
	<title>DIVCRAFT</title>
	<!-- Bootstrap -->
	<style type="text/css"></style>



	{%load static%}
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
	{%load static%}
	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
	{%load static%}
	<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
	{%load static%}


	<style>
	@import url('https://fonts.googleapis.com/css?family=Pacifico|Righteous&display=swap');	
	</style>

</head>
<body>
	<div class="">
		<nav class="float-right navbar navbar-expand-sm bg-dark">
				<ul class="navbar-nav ">
				
				<!--<li class="nav-item">
					<a class="nav-link text-light" href="">HOME</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-light" href="">ABOUT US</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-light" href="">FEEDBACK</a>
				</li>-->

				<li class="nav-item">
				    <a class="nav-link text-light" href="{% url 'user:logout' %}">LOGOUT</a>
				</li>
				<li class="nav-item">
				  	<a class="nav-link text-light" href="{% url 'message:profile' %}">ACCOUNT</a>
				</li>

			</ul>			
		</nav>

		<div class="bg-dark">
			<center>
				<h1 class="logo logo-page">DIV_ _CRAFT</h1>
			</center>
		</div>
		<br><br>
	{% block main%}

	{% endblock %}



	</div>






</body>
</html>